// Fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@font-face {
  font-family: "HelveticaNowDisplay", sans-serif;
  src: url('/static/fonts/HelveticaNowDisplay-ExtBlk.ttf') format("truetype"),
       url("/static/fonts/HelveticaNowDisplay-ExtBlk.woff2") format("woff2"),
       url("/static/fonts/HelveticaNowDisplay-ExtBlk.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

$fonts: (
  serif: ("HelveticaNowDisplay", sans-serif),
  sans-serif: ("Montserrat", sans-serif),
  system-sans: (-apple-system, BlinkMacSystemFont, "Segoe UI", "Montserrat", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif)
);

// Colors
$color-gray-50:  #f6f7f9 !default;
$color-gray-100: #e5e7eb !default;
$color-gray-200: #d1d5db !default;
$color-gray-300: #868f9d !default;
$color-gray-400: #6b7280 !default;
$color-gray-500: #4b5563 !default;
$color-gray-600: #2f3845 !default;
$color-gray-700: #1f2937 !default;
$color-gray-800: #18202a !default;
$color-gray-900: #121920 !default;
$color-primary:  #78EAEA !default;
$color-accent: #56C6CC !default;
$color-titles: #00535B !default;

// Alternative accent colors
$accent-colors: (
  blue:   #78EAEA,
  green:  #56C6CC,
  red:    #fa292a,
  violet: #7c43a8,
  yellow: #ed9700
);

// Container max width
$container-lg: 1200px !default;
$container-md: 780px !default;

// Container padding
$container-padding: 3vw !default;

// Grid gap
$grid-gap: 1.66667rem !default;

@import "imports/reset";
@import "imports/general";
@import "imports/helpers";
@import "imports/buttons";
@import "imports/icons";
@import "imports/forms";
@import "imports/tables";
@import "imports/card";
@import "imports/testimonial";
@import "imports/structure";
@import "imports/header";
@import "imports/post";
@import "imports/post-feed";
@import "imports/portfolio-feed";
@import "imports/project";
@import "imports/hero";
@import "imports/section";
@import "imports/footer";
@import "imports/variations";
@import "imports/banner";
