@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body {
	color: rgb(123, 204, 184);
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

body {
	padding: 20px;
}
